<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892080538949-lmc29pt58521dgcvl1077vnr8oks6kha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892080538949-lmc29pt58521dgcvl1077vnr8oks6kha</string>
	<key>API_KEY</key>
	<string>AIzaSyD4gfrjd46tD48hVSBPyZUZCdBEPCI6QjU</string>
	<key>GCM_SENDER_ID</key>
	<string>892080538949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aihealth.Glupreview</string>
	<key>PROJECT_ID</key>
	<string>glupreview-b13da</string>
	<key>STORAGE_BUCKET</key>
	<string>glupreview-b13da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892080538949:ios:a9666629d5b5d73a002a2c</string>
	<key>DATABASE_URL</key>
	<string>https://glupreview-b13da-default-rtdb.firebaseio.com</string>
</dict>
</plist>